  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kalam:wght@300&family=Lora&family=Manrope:wght@300&family=Mukta:wght@300&family=Noto+Serif&family=Poppins:wght@300&family=Potta+One&family=Raleway&family=Roboto+Condensed&family=Roboto:wght@300;400&family=Tangerine:wght@700&family=Tilt+Prism&display=swap');
/*font-family: 'Dancing Script', cursive;
font-family: 'Kalam', cursive;
font-family: 'Lora', serif;
font-family: 'Manrope', sans-serif;
font-family: 'Mukta', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Potta One', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Tangerine', cursive;
font-family: 'Tilt Prism', cursive;
*/

  :root {
  --main-bg-color:  #27ffff;
}
*{


	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding: 0;
	overflow-x: hidden;

}


.poster{
	position: absolute;
	top: 0;
	background-color: black;
	
}

.poster img{
	background-color: black;

	opacity: 0.4;
	width: 100vw;
	
}


.text{
	position: absolute;
	top: 200px;
}

.text h1{
	text-align: center;
}

.text p{
	word-spacing: 6px;
	padding: 2px 10px;
	margin-top: 20px;
	line-height: 27px;
}

.trending{
	position: relative;
	    background: linear-gradient(358deg, black, transparent);
}

.box{
	height: 400px;
	width: 400px;
}

.center{
	    position: relative;
    text-align: center;
    margin-top: 100px;
    color: white;
}
.search{
	display: flex;
	justify-content: center;
	margin: 15px 0px;
}
.search input{
	    width: 50vw;
    border-radius: 30px 0px 0px 30px;
    height: 35px;
    padding:  4px 8px;
}

.search button{
	    height: 48px;
      background: #dd4822;
    color: white;
    padding: 0px 11px;
    border-radius: 0px 30px 30px 0px; 
    border: 2px solid #dd4822;
}

.trending-page{
	position: relative;
	background-color: black;

}

.all-movies{

	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	flex-wrap: wrap;
}

.card{
	   

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px;
 
    color: white;
}
.card img{
	height: 600px;
	
}


.card-body{
	text-align: center;
	    padding: 15px 0px;
}

.white{
	    margin: 25px 15px;
}

.container{
	max-width: 80%;
	margin: auto;
}
.date{

	margin: 5px 0px;
	font-weight: bold;
}
.overview{
	margin: 5px 0px;
	text-align: left;
}
.white{
	color: white;
}

.bold{
	font-weight: bold;
}

.d-flex{
	display: flex;
}
@media only screen and (max-width: 600px){

	.box{
		height: 100px;
	}
	.card img{
		height: 550px;
	}

}

@media only screen and (max-width: 450px){
.box{
		    height: 100px;
}
.center{
	margin-top: 10px;
}
.center h1{
	font-size: 18px;
}
.center p{
	font-size: 12px;
	margin-top: 10px;
}
	.card img{
		height: 400px;
	}
}

@media only screen and (max-width: 300px){

	.card img{
		height: 400px;
	}
	.box{
		height: 10px;
	}
	.poster img{
		height: 180vh;
	}

}