.search-body{
	margin-top: 120px;
	max-width: 90%;
	margin: 120px auto;
}

.pg{
	    background-color: aqua;
    height: 40px;
    width: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
        margin: 5px 25px;
        color: black;
}

.d-flex{
	display: flex;

}



.lan{
	  background-color: aqua;
    height: 40px;
    width: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
        margin: 5px 25px;
        color: black;
}

.s-title{
	margin: 10px 15px;
    font-size: 60px;
}


.box2{
	display: flex;
    justify-content: flex-start;
    margin: 10px 10px;
}

.release{
	    margin: 0px 15px;
    font-size: 20px;
}

.state{
	    font-size: 20px;
    margin: 0px 15px;
}
.genre{
	    display: flex;
    margin: 10px 10px;
}
.genre p {
	padding: 0px 10px;
}
.overview2{
	    margin: 0px 20px;
}
.actors{
	    margin: 10px 20px;
}
.ratings{
	display: flex;
	justify-content: center;
    flex-wrap: wrap;
}

.column{
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    background: #141212;
    color: white;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    flex-direction: column;

}

.all{
	margin-top: 50px;
	display: flex;
	justify-content: center;
    flex-wrap: wrap;

}

.Nor{
        text-align: center;
    font-size: 23px;
    font-weight: bold;
    margin: 50px;
}


@media only screen and (max-width: 900px){
    .allth{
        flex-direction: column;
    }

    .poster2{
        text-align: center;
    }
    

}

@media only screen and (max-width: 450px){
   .s-title{
    font-size: 38px;
   }
    

}